#header {
  display: flex;
  flex-basis: 100%;
  height: 75px;
  color: white;
  text-align: left;
  font-size: 45px;
  font-family: "Noto Sans";
  padding-left: 20px;
  padding-top: 32px;
  background-color: rgb(8, 170, 214);
}
.container2 {
  display: grid;
  background-color: black;
  grid-template-columns: 70px 70px 1500px;
  column-gap: 10px;
}
.item2-1 {
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
  font-size: 14px;
  padding-left: 7px;
  padding-right: 1px;
}
.alignLeft {
  text-align: left;
  padding-left: 10px;
}
#sweetAlertFormat {
  text-align: left;
}
#item2-2 {
  color: white;
  position: relative;
  margin-left: 570px;
}
.hoverOnDivision1 {
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}
.hoverOnDivision2:hover {
  background-color: orange;
  color: black;
  border-left: 5px solid whitesmoke;
  cursor: pointer;
}
.buttonStyling1 {
  background-color: black;
  color: white;
  height: 27px;
  width: 55px;
  border: 0px;
}
#titleStyling {
  font-size: small;
  text-transform: uppercase;
  font-weight: bolder;
}

.center {
  justify-content: center;
  background-color: aquamarine;
}
#titleStyling {
  font-size: small;
  text-transform: uppercase;
  font-weight: bolder;
}
.container3 {
  height: 7px;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: left;
}
.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.flexItem4-1 {
  width: 300px;
  height: 340px;
  border: 1px solid black;
  margin-left: 15px;
  overflow-y: scroll;
}
/*.flexItem4-1::-webkit-scrollbar{width:0 !important}*/
.tableStyling1 {
  width: 500px;
  height: fit-content;
}
.tableStyling2 {
  width: 245px;
  height: fit-content;
}

.flexItem4-2 {
  margin-left: 200px;
  width: 600px;
  height: 380px;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px 5px #888888;
  border: 1px solid black;
  display: none;
  margin-top: -4px;
}

#button1 {
  color: white;
  background-color: green;
  border: 1px solid green;
  height: fit-content;
  width: 100px;
  text-align: center;
  margin-top: 4px;
  margin-left: 255px;
}
.editDeleteStyling {
  font-size: x-small;
  position: relative;
}
.validationStyling {
  color: red;
  font-weight: bolder;
}
#nameStyling {
  font-family: "Noto Sans";
  font-size: x-large;
  font-weight: 600;
  margin-left: 5px;
  font-style: normal;
}
#emailStyling {
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-left: 10px;
}
#mobileNumberStyling {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-left: 10px;
  font-family: "Noto Sans";
}
#headingStyling {
  font-weight: bold;
  font-size: larger;
  text-align: left;
  margin-left: 0px;
}
.mainTableStyling {
  padding-right: 80px;
}
#button2 {
  color: white;
  background-color: rgb(152, 149, 149);
  border: 1px solid rgb(176, 179, 176);
  height: fit-content;
  width: 100px;
  text-align: center;
  margin-top: 4px;
  margin-left: 50px;
}
.tableDataStyling1 {
  padding-bottom: 13px;
  font-size: small;
  font-family: "Noto Sans";
  font-weight: 600;
}
#tableDataStyling2 {
  font-size: small;
  font-family: "Noto Sans";
  font-weight: 600;
}
.tableStyling3 {
  width: fit-content;
}
#addressStyling2 {
  white-space: pre-wrap;
}
#addressStyling1 {
  vertical-align: top;
}
.homeButtonStyling {
  background-color: orange;
  border-left: 5px solid white;
}
#editDetails {
  cursor: pointer;
}
#deleteDetails {
  cursor: pointer;
}
#addNewMember {
  background-color: none;
}
.addNewMemberChange {
  background-color: orange;
}
.divStyling {
  border-bottom: 1px solid black;
  padding: 5px;
}
